
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.taskNews {
    background-color: rgb(169, 185, 27);
    justify-content: center;
    font-size: 200%;
    margin:auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.taskNews input {
    display: block;
    margin: auto ; 
}

.taskNews ul {
    padding: 0; 
}

.taskNews li {
    margin:2% auto;
    list-style-position: inside; 
    width: 48%;
    background-color: rgba(15, 255, 15, 0.107);
}
.home-container {
    background-image: url("https://t4.ftcdn.net/jpg/02/66/93/05/360_F_266930581_BJACg6w24kqJlcd4xre930H9paUDbdvc.jpg");
    background-size: cover;
    height: 100vh;
}
