
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.taskNews {
    background-color: rgb(169, 185, 27);
    justify-content: center;
    font-size: 200%;
    margin:2% auto;
    width: 70%;
    padding-top: 20px;
    
}
.taskNews input {
    display: block;
    margin: auto ; 
}

.taskNews ul {
    padding: 0; 
}

.taskNews li {
    padding-left: 40%;
    list-style-position: inside; 
}
